{% load static %}
<!DOCTYPE html>
<html lang="en">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?e69c6418801f82de84f30d1d37562313";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock %}
    <meta name="description" content="Wind(廖嘉逸)个人技术博客,记录每一次成长和进步."/>
    <meta name="keywords" content="Wind 廖嘉逸 博客 GrowingIO"/>
    <meta name="author" content="Wind(廖嘉逸)"/>
    <meta name="baidu-site-verification" content="rr7T4B25bj" />
    <script src="{% static 'blog/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/styles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}"/>
    <link rel="shortcut icon" href="{% static 'blog/image/wind-favicon.ico' %}" />
    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'blog/js/blogApp.js' %}"></script>
</head>
<body class="blog_body" ng-app="blogApp" ng-controller="blogController">
<div id="banner">
</div>
<header style="padding-bottom: 40px">
    <nav class="blog_navbar" style="height: 40px;">
        <div class="container">
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="blog_ul">
                    <li><a href="{% url 'index' %}">Articles</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div>
        <h1 class="head-words">Talk is cheap. </h1>
        <h1 class="head-words">Show me your code. </h1>
    </div>
</header>
<section id="content">
    <div class="container" style="width: 950px;">
        <div id="posts">
            {% block content %}{% endblock %}
        </div>
        <footer class="blog-copyright">
            <p>© 2017 Wind (廖嘉逸)</p>
        </footer>
    </div>
</section>
</body>
</html>
